extends ../base

block board 
  main(style=`background-color: ${board.backgroundColor}`, data-id=board._id)#board
    div.board__header
      div.board__title 
        h1=board.title 
      div.board__addList
        form.board__addList-form(method="POST")
          input(type="text", placeholder="리스트의 제목을 입력하세요")  
          div.board__addList-submit
            button Add list 
    section
      ul.board-lists
        each list in board.lists
          li.board-list(draggable="true")
            div.board-list__title 
              h3=list.title
              i.fas.fa-ellipsis-h
            form.board-list__form
              input(type="text", name="title", placeholder="카드의 제목 입력...")
              button Add 
            //- div.board-list__tasks 
            //-   h6 card의 제목 
            //-   i.fas.fa-edit
block scripts 
  script(src="/static/js/createList.js") 
  if board.lists.length > 0
    script(src="/static/js/cardDageAndDrop.js") 
            
            

