#board {
  padding: 70px 20px;
  height: 100vh;
  .board__header {
    display: flex;
    align-items: center;
    .board__title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      margin-right: 20px;
    }
    .board__addList-form {
      display: flex;
      justify-content: space-between;
      background-color: #ffffffe8;
      border-radius: 5px;
      padding: 10px;
      input {
        border: none;
        border: 2px solid #036aa5;
        border-radius: 5px;
        padding: 10px 20px;
        margin-right: 10px;
        &:focus {
          outline: none;
        }
      }
      .board__addList-submit {
        display: flex;
        align-items: center;
        button {
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          background-color: #036aa7;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }

  section {
    margin-top: 20px;
    ul.board-lists {
      display: grid;
      grid-template-columns: repeat(4, 280px);
      align-items: start;
      column-gap: 30px;
      li.board-list {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #ebecf0;
        .board-list__title {
          position: relative;
          font-size: 1.1rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          i {
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.9rem;
            &:hover {
              background-color: #dadbe2;
            }
          }
        }
        .board-list__form {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          input {
            border: none;
            border: 1px solid #036aa5;
            border-radius: 5px;
            padding: 10px 20px;
            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            background-color: #036aa7;
            color: #ffffff;
            cursor: pointer;
          }
        }
        .board-list__tasks {
          min-height: 10px;
        }
        .board-list__task {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          background-color: #ffffff;
          padding: 3px 10px;
          margin-bottom: 10px;
          i {
            font-weight: 300;
            opacity: 0;
            cursor: pointer;
            padding: 7px;
            border-radius: 5px;
            font-size: 0.9rem;
            &:hover {
              background-color: #dadbe2;
            }
          }
          &:hover {
            background-color: #f4f5f7;
            i {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.draggingTask,
.dragging {
  opacity: 0.4;
}

.pop__over {
  position: absolute;
  top: -30px;
  right: -10rem;
  z-index: 1;
  display: none;
  width: 300px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  .pop__over__header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". title delete";
    align-items: center;
    border-bottom: 1px solid #dfe2e7;
    span {
      grid-area: title;
      text-align: center;
    }
    i {
      grid-area: delete;
    }
  }
  .pop__over__main {
    padding: 15px 10px;
    line-height: 2;
    div {
      cursor: pointer;
      &:hover {
        background-color: #f5f6f8;
      }
    }
  }
}

.isShow {
  display: block;
}

.hidden {
  display: none;
}

.editInput {
  max-width: 167px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
}

.editBtn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #036aa7;
  color: #ffffff;
  cursor: pointer;
}
