.user-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(70, 136, 140, 0.5) 0%,
    rgba(176, 176, 176, 0.5) 100%
  );
  .user__box {
    width: 550px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    .user-main__column:first-child {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      .user-main__img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      .user-main__info {
        h6 {
          color: #a3a8b0;
          font-size: 0.8rem;
          margin-bottom: 5px;
        }
        h3 {
          font-weight: 300;
          font-size: 1.2rem;
        }
        .user-main__name {
          margin-bottom: 20px;
          h3 {
            font-weight: 600;
            font-size: 1.7rem;
          }
        }
      }
    }
    .user-main__editBtn {
      text-decoration: none;
      color: #ffffff;
      background: #3b82f6;
      font-weight: 600;
      width: 120px;
      height: 40px;
      border-radius: 10px;
      padding: 10px 20px;
    }
  }
}
