.boards {
  margin: 50px 80px 0;
  .boards__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    h3 {
      margin-left: 10px;
      font-weight: 600;
    }
  }
  .boards__create {
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    max-width: 200px;
    min-width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #091e420a;
    &:hover {
      opacity: 0.5;
    }
  }
}
.boards__all {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  a {
    text-decoration: none;
  }
  .boards__user {
    border-radius: 7px;
    padding: 10px;
    height: 100px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    &:hover {
      opacity: 0.5;
    }
  }
}
