header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(70, 136, 140, 0.5) 0%,
    rgba(176, 176, 176, 0.5) 100%
  );
  padding: 10px 0;
  font-weight: bold;
  color: #000;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: white;
    }
  }
  ul {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__column {
      .header__title {
        font-size: 2rem;
        font-weight: 600;
        i {
          margin-right: 10px;
        }
      }
    }
    .header__column:last-child {
      display: flex;
      li {
        font-size: 1.2rem;
        margin-left: 50px;
      }
      a:last-child {
        margin-right: 30px;
      }
    }
  }
}
