@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  z-index: 100000;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 250px;
  padding: 10px 20px;
  border-radius: 100000px;
  text-align: center;
  animation: goAway 0.4s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
  &.info {
    color: #ffffff;
    background: #3b82f6;
  }
}
