extends base.pug 

block content   
  //로그인한 유저한테만 보이게 
  if loggedIn
    section.boards
      div.boards__header 
        i.far.fa-user 
        h3 Your Workspace boards
      div.boards__create Create new board
    form.boards__create-modal(method="POST") 
      div.boards__create-modal__header 
        input(type="text", name="title", placeholder="Add board title")
        i.fas.fa-times
      div.boards__create-backgroundColors 
        div.boards__create-backgroundColor blue 
        div.boards__create-backgroundColor green 
        div.boards__create-backgroundColor skyblue 
        div.boards__create-backgroundColor pink 
        div.boards__create-backgroundColor 보라색 
        div.boards__create-backgroundColor red 
        div.boards__create-backgroundColor grey 
        div.boards__create-backgroundColor yellow 
        div.boards__create-backgroundColor 주황색

block scripts 
  script(src="/static/js/createBoard.js") 


