extends base

block content
  div#formWrapper
    form(method="POST") 
      h3 Join
      input(type="email", required, name="email", placeholder="Email")
      input(type="name", required, name="name", placeholder="Name")
      input(type="password", required, name="password", placeholder="password")
      input(type="password", required, name="password2", placeholder="password 확인")
      input(type="submit", value="가입하기")