extends base 

block content
  div#formWrapper
    form(method="POST") 
      h3 Login
      input(type="email", required, name="email", placeholder="Email")
      input(type="password", required, name="password", placeholder="Password")
      input(type="submit", value="Login")