extends base 

block content
  div.wrapper
    form(method="POST") 
      input(type="email", required, name="email", placeholder="Email")
      input(type="password", required, name="password", placeholder="Password")
      input(type="submit", value="Login")