extends base 

block content
  div.wrapper
    form(method="POST") 
      input(type="email", required, name="email", placeholder="Email",autocomplete)
      input(type="password", required, name="password", placeholder="Password",autocomplete)
      input(type="submit", value="Login",autocomplete)