header
  ul
    div.header__column 
      if loggedIn
        a(href="/users/home").header__title
          i.far.fa-check-circle
          li ToDo
      else  
        a(href="/").header__title
          i.far.fa-check-circle
          li ToDo
    div.header__column 
      if loggedIn
        a(href="/users/home")
          li My board 
        a(href=`/users/edit-profile`)
          li Edit Profile
        a(href="/users/logout") 
          li Logout
        if loggedInUser.avatarUrl
          a(href=`/users/edit-profile`)
            li 
              img(src=`/${loggedInUser.avatarUrl}`)#avatarImage
        else 
          a(href=`/users/edit-profile`)
            li=loggedInUser.name 
      else
        a(href="/login") 
          li Login 
        a(href="/Join")
          li Join    
