header 
  ul
    div.header__column 
      a(href="/").header__title
        li ToDo
    div.header__column 
      if loggedIn
        a(href="/boards/new")
          li New board 
        a(href="/logout") 
          li Logout
        a(href="/profile")
          li=loggedInUser.name 
      else
        a(href="/login") 
          li Login 
        a(href="/Join")
          li Join    
