header 
  ul 
    a(href="/") 
      li Home Logo
    a(href="/todos")  
      li My To Do List 
    a(href="/todos/share") 
      li Share List  
    if loggedIn
      a(href="/logout") 
        li Logout
      a(href="/profile")
        li=loggedInUser.name 
      a(href="/boards/new")
        li new board 
    else
      a(href="/login") 
        li Login 
      a(href="/Join")
        li Join    
