header 
  ul 
    a(href="/") 
      li Home Logo
    a(href="/todos")  
      li My To Do List 
    a(href="/todos/share") 
      li Share List  
    a(href="/login") 
      li Login 
    a(href="/Join")
      li Join    
