extends ../base 

block content 
  div#formWrapper
    form.editUserForm(method="POST")
      h3 Change Password
      label(for="password") 현재 비밀번호
      input(type="password", name="password",id="password")
      label(for="newPassword") 새 비밀번호 
      input(type="password", name="newPassword", id="newPassword")
      label(for="confirmNewPassword") 새 비밀번호 확인
      input(type="password", name="confirmNewPassword",id="confirmNewPassword")
      input(type="submit", value="Change Password")