extends ../base

block content 
  main.user-main
    div.user__box
      div.user-main__column
        div.user-main__img(style=`background-image: url("/${loggedInUser.avatarUrl}")`)
        div.user-main__info 
          div.user-main__name 
            h6 Name 
            h3 #{loggedInUser.name} 
          div.user-main__email 
            h6 Email 
            h3 #{loggedInUser.email} 
      div.user-main__column 
        a(href="/users/edit-profile").user-main__editBtn 
          |Edit profile 
      